.media{
    background-image:url("../images/assets/backgrounds/landing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
#logo{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
span{
  font-size:50px;
  cursor:pointer;
  color:#ffffff;
}
#party{
  color: white;
  background-color: #F15A29;
  padding: 10px;
}
#happy{
  color: white;
  background-color: grey;
  padding: 10px;
}
.container-fluid{
  padding: 0px;
}
.bg-1{
  padding: 0;
}
.bg-10{
  padding: 0;
}
.bgFoods{
  background-image:url(../images/assets/backgrounds/foodsBg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  padding: 0;
}
.foods{
  height: 100px;
  width: 80px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #ffffff;
}
.fast{
  margin-bottom: 10%;
  margin-left: 30%;
  margin-right: 0%;
  margin-top: 5%;
  padding: 0px;
  border-color: transparent;
  border-style: solid;
  border-width: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.faster{
  display: flex;
  margin-bottom: 10%;
  margin-left: 0%;
  margin-right: 30%;
  margin-top: 5%;
  padding: 0px;
  border-color: transparent;
  border-style: solid;
  border-width: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.Paragraph1{
  padding: 5%;
  text-align: left;
}
.Paragraph2{
  padding: 5%;
  text-align: right;
}
